.day {
    width: 10px;
    height: 10px;
    background-color: #ebedf0;
    outline: 1px solid lightgray;
    border-radius: 12%;
    margin-bottom: 4px;
}

.active {
    background-color: lightgreen;
    outline: 1px solid darkgreen;
}